.root{
display:flex;
width: 100%;

}

.div-1{
    flex-direction: column;
    background-color: blue;
    flex:1;
    height: 100%;
    margin: 0px;
    
}
.intro {
    padding: 10px;
    color: white;

}
.intro ul li {
    text-decoration: none;
}

.div-2{
    flex-direction: column;
    background-color: white;
    flex:1;
    height: 90%;

}

.form {
    padding: 60px;
    
}


.footer ul li {
    display: inline-block;
    padding: 4px;
}
ul li a {
    text-decoration: none;
    color: gray;
}