
*{
    box-sizing: border-box;
  }
  
  body {
    background-color: palevioletred;
    padding: 20px;
    font-family: Arial;
  }
  
 
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    color: rgb(87, 37, 58)
  }
  h2{
    color: rgb(87, 37, 58)
  }
  
  .row {
    margin: 8px -16px;
  }
  
 
  .row,
  .row > .column {
    padding: 8px;
  }
  
 
  .column {
    float: left;
    width: 25%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .content {
    background-color: rgb(87, 37, 58);
    padding: 10px;
    color: palevioletred;
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 

  ul li{
      display: inline-block;
      text-decoration: none;
      padding: 15px;
  }